[submodule "external/sdl2"]
	path = external/sdl2
	url = https://github.com/davidsiaw/SDL2
	branch = master
[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:SDL-mirror/SDL.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = git@github.com:davidsiaw/SDL2.git
